$font-color: #595959;
$bg-color: #f6f6f6;
$font-style: serif;
$btn-length: 60px;
$error-color: #e78c8c;
$frame-width: 1.5px;
$frame-color: #acacac;
$border-color: #6e6e6e;
$go_black_color: black;
html {
    height: 100%;
    // min-height: 414px;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: $bg-color;
}

.back {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
}

.homepage {
    opacity: 1;
    transition: 0.5s linear opacity;
    z-index: 5;
}

h1 {
    font-family: $font-style;
    display: inline-flex;
    color: $font-color;
}

h1:hover {
    cursor: default;
}

.input-style {
    display: inline-flex;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid $font-color;
    outline: none;
    font-size: x-large;
    font-family: $font-style;
    caret-color: $font-color;
    transition: 700ms linear width;
}

.id-input {
    width: 135px;
    margin-left: 14px;
    animation: 700ms linear 0s input-show;
}

.input-dis {
    width: 0;
}

@keyframes input-show {
    from {
        width: 0;
    }
    to {
        width: 135px;
    }
}

.choose {
    transition: 0.7s ease-in bottom, 0.7s ease-in transform;
    z-index: 4;
    position: fixed;
    visibility: hidden;
}

.choose-show {
    visibility: visible;
    bottom: 0 !important;
}

.choose-dis {
    bottom: -500px !important;
}

button {
    background-color: transparent;
    width: 130px;
    height: 70px;
    font-size: x-large;
    font-family: $font-style;
    margin: 160px;
    border: 1px solid $font-color;
    color: $font-color;
    outline: none;
    transition: 0.3s linear background-color, 0.3s linear color;
}

.button-style {
    position: relative;
}

.line {
    background-color: $font-color;
    position: absolute;
    transition: 0.3s linear transform;
    transform: translateX(0);
}

.line-up {
    width: $btn-length;
    height: 1px;
    top: 160px;
    left: 227px;
}

.line-down {
    width: $btn-length;
    height: 1px;
    top: 229px;
    left: 162px;
}

.line-left {
    width: 1px;
    height: $btn-length;
    left: 160px;
    top: 161px;
}

.line-right {
    width: 1px;
    height: $btn-length;
    left: 289px;
    top: 168px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(146, 146, 146);
    color: $bg-color;
}

button:hover+.lines>.line-down {
    transform: translateX(-60px);
}

button:hover+.lines>.line-up {
    transform: translateX(60px);
}

button:hover+.lines>.line-left {
    transform: translateY(-60px);
}

button:hover+.lines>.line-right {
    transform: translateY(60px);
}

.copy {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    padding: 3px;
    margin-left: 10px;
    margin-bottom: 5px;
    opacity: 0;
    transition: 0.5s linear opacity;
    visibility: hidden;
}

.copy-shower {
    opacity: 1;
}

.copy:hover {
    cursor: pointer;
}

.copy svg {
    transform: scale(1.2);
}

.copy:hover svg path {
    fill: $font-color;
}

.code-value {
    color: #bcbcbc;
    border-color: #8a8a8a;
}

.code-copy {
    display: none;
}

.host-page {
    z-index: 3;
}

.code-send {
    width: 0;
    margin-left: 15px;
}

.send-show {
    width: 200px;
}

.send-dis {
    width: 0;
}

.join-page {
    z-index: 3;
}

.hint {
    border: none;
    position: relative;
    bottom: 150px;
    color: $error-color;
    transition: 0.5s linear opacity;
    opacity: 0;
}

.hint-show {
    opacity: 1 !important;
}

.code-container {
    position: absolute;
}

.board-back {
    z-index: 1;
}

.board-container {
    border-right: 1px solid $font-color;
    border-bottom: 1px solid $font-color;
    background-size: 100% (1/18)*100%, (1/18)*100% 100%;
    position: fixed;
    transition: 0.5s linear transform-origin;
    z-index: 0;
}

.frames {
    width: 100%;
    height: 100%;
    position: fixed;
}

.frame {
    position: fixed;
    background-color: $frame-color;
}

.left-frame {
    width: $frame-width;
    height: 100%;
    left: 2.5%;
}

.right-frame {
    width: $frame-width;
    height: 100%;
    right: 2.5%;
}

.top-frame {
    width: 100%;
    height: $frame-width;
    top: 5%;
}

.bottom-frame {
    width: 100%;
    height: $frame-width;
    bottom: 5%;
}

.pieces-board {
    position: fixed;
    background-color: transparent;
    top: -(1/36)*100%;
    bottom: -(1/36)*100%;
    left: -(1/36)*100%;
    right: -(1/36)*100%;
    margin-left: 1px;
    display: flex;
    flex-wrap: wrap;
}

.go-back {
    background-color: transparent;
    position: relative;
    display: inline-flex;
    width: (1/19)*100%;
    height: (1/19)*100%;
    top: 2px;
    margin: -2px 0;
}

.go {
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    position: absolute;
    background-color: transparent;
    border-radius: 100%;
    transition: 0.5s linear background-color;
    box-sizing: border-box;
    animation: 0.5s linear 0 hint;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

@keyframes hint {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

.go-back:hover .go {
    background-color: #a9a9a973;
}

.board-back-color {
    position: absolute;
    background-color: #fff4e5;
    transition: 0.5s linear opacity;
    z-index: -1;
    opacity: 0;
    border: 2px solid #9b9b9b;
    border-radius: 3px;
}

.board-back-color-show {
    opacity: 1;
}

.go-sign::before {
    content: '';
    background-color: #9f9f9f;
    width: 30%;
    height: 30%;
    border-radius: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -15%;
    margin-left: -15%;
    display: block;
    opacity: 0;
    transition: 1s linear opacity;
    z-index: -1;
}

.go-show::before {
    opacity: 1;
}

.go-dis::before {
    display: none;
}

.keep {
    position: absolute;
    z-index: 1;
    background-color: $bg-color;
    display: none;
}

.keep-top {
    top: 0;
    width: 100%;
}

.keep-left {
    left: 0;
    height: 100%;
}

.keep-right {
    right: 0;
    height: 100%;
}

.keep-bottom {
    bottom: 0;
    width: 100%;
}

.keep-out {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: fixed;
    z-index: 1;
}

$go-black: #414141;
$go-size: 20%;
.load {
    background-color: $bg-color;
    transition: 0.5s linear opacity;
    opacity: 1;
    z-index: 10;
}

.load-anima {
    opacity: 0;
}

.go-frame {
    height: 100px;
    width: 100px;
    background-color: transparent;
    position: relative;
}

.white-back {
    right: -25px;
    animation: 2s linear 0 white-anima;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes white-anima {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.black-back {
    left: -25px;
    animation: 2s linear 0 black-anima;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes black-anima {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.anima-go {
    width: $go-size;
    height: $go-size;
    border-radius: 100%;
}

.white-go {
    background-color: white;
    box-sizing: border-box;
    border: 1px solid #414141;
}

.black-go {
    background-color: $go-black;
}